<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:12px 16px">
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="/home" class="w3-bar-item w3-button">Home</a>
      <a href="/fashionbeauty" class="w3-bar-item w3-button w3-light-grey">Fashion & Beauty</a>
      <a href="/quizzes" class="w3-bar-item w3-button">Quizzes</a>

    </div>
  </div>
    <h1 class="w3-xlarge">•About Us•</h1>
</header>
<!--<header class="w3-panel w3-center w3-opacity" style="padding:12px 16px">-->
<!--  <h1 class="w3-xlarge">•About Us•</h1>-->
<!--  </div>-->
<!--</header>-->
<style>
/*body,p {font-family: "Raleway", Arial, sans-serif}*/
/*p {6px}*/
/*.w3-row-padding img {margin-bottom: 12px}*/

#us{
width: 500px;
height: 500px;
margin: auto
}
</style>

   <p ALIGN = "center">Welcome to our website! Our names are Maeve, Noor, and Bia. We are Kode with Klossy scholars and created this site as our final project! We are inspired by fashion and beauty and wanted to incorporate them into our project. We hope that our site and resources we created and provided helps you express yourself through your own fashion and beauty!</p>
</div>
  
<!-- End Page Content -->
</div>

<center>

<a data-flickr-embed="true"  href="https://www.flickr.com/photos/160244174@N08/44078571651/in/dateposted-public/" title="5C1AB84B-F1B0-4896-97EF-15A265009B61"><img id="us" src="https://farm2.staticflickr.com/1791/44078571651_d994405c86_k.jpg" width="2048" height="1536" alt="5C1AB84B-F1B0-4896-97EF-15A265009B61"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>\
</center>

</body>
</html>










<!-- <html>-->
<!-- <head>-->
<!--    <title>About Us Page</title>-->
<!--    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">-->
<!--    <link rel="stylesheet" type="text/css" href="/about_style.css">-->
<!--  </head>-->
  
  
  
<!--</html>-->

<!--<center><h1 style=text-allign:center; id="titleAbout">•About Us•</h1></center>-->

<!--<br> -->

<!--<br>-->

<!--<h2> Welcome to our website! Our names are Maeve, Noor, and Bia. We are Kode with Klossy scholars and created this site as our final project! We are inspired by fashion and beauty and wanted to incorporate them into our project. We hope that our site and resources we created and provided helps you express yourself through your own fashion and beauty!</h2>-->

