<!DOCTYPE html>
<html>
  <head>
    <!--<title>Fashion and Beauty</title>-->
    <center><h1 style=text-allign:center; id="titleAbout">•Fashion & Beauty•</h1></center>
    <link rel="stylesheet" type="text/css" href="fashbeaut.css">
  </head>
  <body>
   <img class="pics" src="https://i.pinimg.com/originals/ed/cb/6d/edcb6def9a29f59db13300eedb367dd4.png" ALIGN = "center">
  <!--<h1 ALIGN = "center">Fashion and Beauty</h1>-->
  <p ALIGN = "center">Whether you buy vogue, watch the runways, or lounge all day, fashion is fashion. Fashion is the way we can express ourselves in our own unique way. Our style can describe our bold, confident, and rare personality without using words. Highlight your natural beauty with simple and natural products. Take our Beauty Products quiz to find some of the right products for you and use some of the beauty resources below.</p>
  <br>
  <p ALIGN = "center">Here are some of the few resources that will allow you to learn more about fashion and find new trending ways to express your true self.</p>
   <br>
   <br>
    <h3>Blogs:</h3>
    <li><a href="https://monikh.com">Monikh</a></li>
    <li><a href="http://carodaur.com">Carodaur</a></li>
   <li><a href="https://www.shewearsfashion.com">She Wears Fashion</a></li>
    <li><a href="http://www.bisousnatasha.com">Bisous Natasha</a></li>
  <li><a href="http://weworewhat.com">We Wore What</a></li>
    <li><a href="https://rebeccafearn.com">Rebecca Fearn</a></li>
  <li><a href="https://www.astylealbum.com">A Style Album</a></li>
<br>
   <br>
    <h3>Vlogs from Youtube:</h3>
    <li><a href="https://www.youtube.com/channel/UCsopuR4Uw3TSA1VPY0MyAfQ?reload=9
">Claudia Sulewski</a></li>
    <li><a href="https://www.youtube.com/user/LoLuFullyLoaded
">Lauren Elizabeth</a></li>
   <li><a href="https://www.youtube.com/channel/UCWRV5AVOlKJR1Flvgt310Cw
">Zoella</a></li>
    <li><a href="https://www.youtube.com/user/clothesencounters/featured">Jenn Im</a></li>
  <li><a href="https://www.youtube.com/user/StilaBabe09">Meredith Foster</a></li>
    <li><a href="https://www.youtube.com/user/oliviajadebeauty/featured
">Olivia Jade</a></li>
  <li><a href="https://www.youtube.com/channel/UCrIIH7yHQugaUuoTZDoEUuQ">Tanya Burr</a></li>
    
<br><br>


</body>
</html>
