<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <h1 class="w3-xlarge">•Fashion & Beauty•</h1>
  
 <!DOCTYPE html>
<html>
  <head>
    <title>Fashion and Beauty</title>
  </head>
  <body>
   <img class="pics" src="https://i.pinimg.com/originals/ed/cb/6d/edcb6def9a29f59db13300eedb367dd4.png" ALIGN = "center">
  
  <p ALIGN = "center">Whether you buy vogue, watch the runways, or lounge all day, fashion is fashion. Fashion is the way we can express ourselves in our own unique way. Our style can describe our bold, confident, and rare personality without using words. Highlight your natural beauty with simple and natural products. Take our Beauty Products quiz to find some of the right products for you and use some of the beauty resources below.</p>
  <br>
  <p ALIGN = "center">Here are some of the few resources that will allow you to learn more about fashion and find new trending ways to express your true self.</p>
   <br>
   <br>
    <h3>Blogs:</h3>
    <li><a href="https://monikh.com">Monikh</a></li>
    <li><a href="http://carodaur.com">Carodaur</a></li>
   <li><a href="https://www.shewearsfashion.com">She Wears Fashion</a></li>
    <li><a href="http://www.bisousnatasha.com">Bisous Natasha</a></li>
  <li><a href="http://weworewhat.com">We Wore What</a></li>
    <li><a href="https://rebeccafearn.com">Rebecca Fearn</a></li>
  <li><a href="https://www.astylealbum.com">A Style Album</a></li>
<br>
   <br>
    <h3>Vloggers from Youtube:</h3>
    <li><a href="https://www.youtube.com/channel/UCsopuR4Uw3TSA1VPY0MyAfQ?reload=9
">Claudia Sulewski</a></li>
    <li><a href="https://www.youtube.com/user/LoLuFullyLoaded
">Lauren Elizabeth</a></li>
   <li><a href="https://www.youtube.com/channel/UCWRV5AVOlKJR1Flvgt310Cw
">Zoella</a></li>
    <li><a href="https://www.youtube.com/user/clothesencounters/featured">Jenn Im</a></li>
  <li><a href="https://www.youtube.com/user/StilaBabe09">Meredith Foster</a></li>
    <li><a href="https://www.youtube.com/user/oliviajadebeauty/featured
">Olivia Jade</a></li>
  <li><a href="https://www.youtube.com/channel/UCrIIH7yHQugaUuoTZDoEUuQ">Tanya Burr</a></li>
    
<br><br>

    </div>
  </div>
</header>

<!-- Photo Grid -->
<div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
  <div class="w3-half">
    
  </div>

  <div class="w3-half">
 
  </div>
</div>
  
<!-- End Page Content -->
</div>


</body>
</html>






<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
    <!--<title>Fashion and Beauty</title>-->
<!--    <center><h1 style=text-allign:center; id="titleAbout">•Fashion & Beauty•</h1></center>-->
<!--    <link rel="stylesheet" type="text/css" href="fashbeaut.css">-->
<!--  </head>-->
<!--  <body>-->
<!--   <img class="pics" src="https://i.pinimg.com/originals/ed/cb/6d/edcb6def9a29f59db13300eedb367dd4.png" ALIGN = "center">-->
  <!--<h1 ALIGN = "center">Fashion and Beauty</h1>-->
<!--  <p ALIGN = "center">Whether you buy vogue, watch the runways, or lounge all day, fashion is fashion. Fashion is the way we can express ourselves in our own unique way. Our style can describe our bold, confident, and rare personality without using words. Highlight your natural beauty with simple and natural products. Take our Beauty Products quiz to find some of the right products for you and use some of the beauty resources below.</p>-->
<!--  <br>-->
<!--  <p ALIGN = "center">Here are some of the few resources that will allow you to learn more about fashion and find new trending ways to express your true self.</p>-->
<!--   <br>-->
<!--   <br>-->
<!--    <h3>Blogs:</h3>-->
<!--    <li><a href="https://monikh.com">Monikh</a></li>-->
<!--    <li><a href="http://carodaur.com">Carodaur</a></li>-->
<!--   <li><a href="https://www.shewearsfashion.com">She Wears Fashion</a></li>-->
<!--    <li><a href="http://www.bisousnatasha.com">Bisous Natasha</a></li>-->
<!--  <li><a href="http://weworewhat.com">We Wore What</a></li>-->
<!--    <li><a href="https://rebeccafearn.com">Rebecca Fearn</a></li>-->
<!--  <li><a href="https://www.astylealbum.com">A Style Album</a></li>-->
<!--<br>-->
<!--   <br>-->
<!--    <h3>Vlogs from Youtube:</h3>-->
<!--    <li><a href="https://www.youtube.com/channel/UCsopuR4Uw3TSA1VPY0MyAfQ?reload=9-->
<!--">Claudia Sulewski</a></li>-->
<!--    <li><a href="https://www.youtube.com/user/LoLuFullyLoaded-->
<!--">Lauren Elizabeth</a></li>-->
<!--   <li><a href="https://www.youtube.com/channel/UCWRV5AVOlKJR1Flvgt310Cw-->
<!--">Zoella</a></li>-->
<!--    <li><a href="https://www.youtube.com/user/clothesencounters/featured">Jenn Im</a></li>-->
<!--  <li><a href="https://www.youtube.com/user/StilaBabe09">Meredith Foster</a></li>-->
<!--    <li><a href="https://www.youtube.com/user/oliviajadebeauty/featured-->
<!--">Olivia Jade</a></li>-->
<!--  <li><a href="https://www.youtube.com/channel/UCrIIH7yHQugaUuoTZDoEUuQ">Tanya Burr</a></li>-->
    
<!--<br><br>-->


<!--</body>-->
<!--</html>-->
