<!DOCTYPE html>
<html>
  <head><title>PRIMER</title></head>
    <body>
        
        
        <form method="POST" action="/results3">
            
            <br>
            <br>
            <h1>Primer Quiz</h1>
            
            <h2>What is your skin type?</h2>
                <input type="radio" name="skin" value="A">Fair<br>
                <input type="radio" name="skin" value="B">Medium<br>
                <input type="radio" name="skin" value="C">Dark<br>
                
            <h2>What type of finish are you looking for?</h2>
                <input type="radio" name="finish" value="D">Glowy<br>
                <input type="radio" name="finish" value="E">Matte<br>
                <input type="radio" name="finish" value="F">Poreless<br>      
                <input type="radio" name="finish" value="G">Smooth<br> 
            
            <br>
            <button type="submit">submit!</button>
            
        </form>
    </body>
</html>