<!DOCTYPE html>
<html>
<head>

<body>
<div class="box">
    <center>
      <div class="w3-padding-32">
      <div class="w3-bar w3-border">
      <a href="/home" class="w3-bar-item w3-button">Home</a>
      <a href="/fashionbeauty" class="w3-bar-item w3-button w3-light-grey">Fashion & Beauty</a>
      <a href="/quizzes" class="w3-bar-item w3-button">Quizzes</a>
      <a href="/about_us" class="w3-bar-item w3-button w3-hide-small w3-light-grey">About Us</a>
      <h1><%=@results4[0]%></h1>
      <a href=<%=@results4[4]%>><img src=<%=@results4[3]%> style="width: 150px; height=100%"></a>
    <h3><%=@results4[2]%></h3>
    </center>

  </div>
</body>
</html>