<!DOCTYPE html>
<html>
  <head><title>SKINCARE</title></head>
    
    <body>
        
        
        <form method="POST" action="/results4">
            
            <br>
            <br>
            <h1>Skincare Quiz</h1>
            
            <h2>What type of skincare routine are you looking for?</h2>
                <input type="radio" name="routine" value="A">Basic<br>
                <input type="radio" name="routine" value="B">Essentials<br>
                <input type="radio" name="routine" value="C">Complete<br>
            
            <h2>What sdescribes your skin care?</h2>
                <input type="radio" name="skin_care" value="D">Oily all over<br>
                <input type="radio" name="skin_care" value="E">Dry<br>
                <input type="radio" name="skin_care" value="F">Combination<br>
                
            <h2>What is your skin concern?</h2>
                <input type="radio" name="concern" value="G">Acne or Blemishes<br>
                <input type="radio" name="concern" value="H">Oiliness<br>
                <input type="radio" name="concern" value="I">Sensitivity<br>      
                
            <h2>What routine do you want?</h2>
                <input type="radio" name="day_night" value="J">Daytime<br>
                <input type="radio" name="day_night" value="K">Nightime<br>
                <input type="radio" name="day_night" value="L">Both<br>
            <br>
            <button type="submit">submit!</button>
            
        </form>
    </body>
</html>